<%- include('includes/head')%>

<h1>About Us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio deserunt tempora omnis sed similique soluta eveniet qui enim, nobis velit quisquam deleniti, aut repudiandae. At harum error quibusdam molestias nesciunt!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio deserunt tempora omnis sed similique soluta eveniet qui enim, nobis velit quisquam deleniti, aut repudiandae. At harum error quibusdam molestias nesciunt!</p>


<%- include('includes/footer')%>
