
<%- include('includes/head')%>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">my website</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio deserunt tempora</p>
  </div>
</div>
<h1>Welcome </h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio deserunt tempora omnis sed similique soluta eveniet qui enim, nobis velit quisquam deleniti, aut repudiandae. At harum error quibusdam molestias nesciunt!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio deserunt tempora omnis sed similique soluta eveniet qui enim, nobis velit quisquam deleniti, aut repudiandae. At harum error quibusdam molestias nesciunt!</p>

<%- include('includes/footer')%>
